<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
<title>人生Online7.X 激勵系統 beta
</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="人生Online, 激勵系統, 成就系統, 生產工具" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- js -->
<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
<!-- //js -->
<link rel="stylesheet" href="css/clndr.css" type="text/css" />
<link rel="stylesheet" href="css/percircle.css">
<link href="css/fabochart.css" rel="stylesheet" type="text/css">
<!-- player -->
<link href="css/acornmediaplayer.base.css" rel="stylesheet" type="text/css">
<link href="acornmediaplayer/acorn.access.css" rel="stylesheet" type="text/css">
<!-- //player -->
<!--skycons-icons-->
<script src="js/skycons.js"></script>
<!--//skycons-icons-->
<link href='//fonts.googleapis.com/css?family=Bitter:400,400italic,700' rel='stylesheet' type='text/css'>

<!-- 以下是我建立的js -->
<!-- 導入Vue -->
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

</head>
	
<body id="app">
	<div class="smart-main" @click.once="playBackGroundMusic">
		<!-- 標題可以塞在電腦版，手機板不需要，或者合併到導覽列裡面 -->
		<!-- <h6 class="title">人生Online7.X 激勵系統 beta
		</h6> -->

<!-- navigation -->
		<div class="navigation">
			
			<div class="top-nav">
				<nav class="navbar navbar-default">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
					  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					  </button>
					</div>

					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
						<nav class="menu menu--sebastian">
							<ul class="nav navbar-nav menu__list">
								<li class="menu__item menu__item--current"><a href="index.html" class="menu__link">首頁</a></li>

								<li class="menu__item"><a href="achievementSystem.html" class="menu__link">成就系統</a></li>

								<li class="menu__item"><a
									@click="clearAllLocalStorage"
									class="menu__link">刪除存檔</a></li>

								<li class="menu__item"><div class="menu__link">
									<audio id="backGroundMusicPlayer"
									
									controls
									loop
									:src="backGroundMusic"></audio>
								</div></li>
							</ul>
						</nav>
					</div>
					<!-- /.navbar-collapse -->
				</nav>
			</div>
			<!--//navbar-collapse-->
						
			
			
			<div class="clearfix"> </div>
		</div>
<!-- //navigation -->

<!-- map-buttons -->
<div class="map-buttons">
	<div class="map-buttons-right">
		<div class="dark-area">
			<!-- some colors -->
				<div id="lightcircle" class="c100 p60 dark big">
					<span>{{percentageOfTaskComplete}}
					</span>
					<div class="slice">
						<div class="bar"></div>
						<div class="fill"></div>
					</div>
				</div>

				<div class="slider-side-social-right">
					<div :style="rankBackground" class="slider-side-social-right-grid">
						<div :style="rankPicture" class="slider-side-social-right-twitter">
							<span></span>
						</div>
						<div class="slider-side-social-right-twitterr">
							<p>{{ taskComplete }}</p>
							<h4>完成任務</h4>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="slider-side-social-right-grid">
						<div class="slider-side-social-right-twitter1">
							<span></span>
						</div>
						<div class="slider-side-social-right-twitterr">
							<p>{{ NumberOfAllTasks }}件</p>
							<h4>全部任務</h4>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>

			<!-- /some colors -->
			
		</div><!-- /.dark-area -->
		<script type="text/javascript" src="js/percircle.js"></script>
	</div>
	<div class="clearfix"> </div>
</div>
<!-- //map-buttons -->

<!-- calender-show-more -->
	<div class="calender-show-more">
		<div class="calender-show-more-left">
			<div class="calender-lft">
				<div class="calender-left1">
					<h3><span></span>成就清單</h3>
				</div>
				<div class="options">
					<select id="country" onchange="change_country(this.value)" class="frm-field required dropdown">
						<option >今日任務</option>
						<option value="">全部任務</option>         
						<option value="">過去任務</option>
						<option value="">未來任務</option>
					</select>
				</div>
					<div class="clearfix"> </div>
					<div class="close"> </div>
			</div>
			<div class="calendar-bottom">
				<div class="load_more">	
				<script>
					$(document).ready(function () {
						size_li = $("#myList li").size();
						x=2;
						$('#myList li:lt('+x+')').show();
						$('#loadMore').click(function () {
							x= (x+1 <= size_li) ? x+1 : size_li;
							$('#myList li:lt('+x+')').show();
						});
						$('#showLess').click(function () {
							x=(x-1<0) ? 1 : x-1;
							$('#myList li').not(':lt('+x+')').hide();
						});
					});
				</script>
				<!-- 新成就清單 -->
				<ul id="ListOfAchievement">
					<!-- 渲染列表 -->

					<div v-for="i in allTasks">
						<div :id="i.taskId">
							<input
							type="checkbox"
							:value="i.taskNumber"
							v-model="i.doneOrNot"
							@click="checkboxClicked(i)"
							>
							<span
							@click="ClickX"
							> X </span>
							<span :style="i.contentDisplay"
							@click="clickListContent(i)">
								{{ i.taskContent }}
							</span>
							<input
							@blur="LeaveInput(i)"
							v-model="i.taskContent"
							:style="i.inputDisplay"
							>
						</div>
					</div>

					<!-- 新增任務的按鈕 -->
					<div>
						<span
						@click="clickPlusNewItem"
						class="h3 listIconPlus">
						+ 
						</span>
						<span :style="convertContentDisplayOfPlusItem"
						@click="clickPlusNewItem">
							新增任務
						</span>
						<input
						id="inputFocus"
						@blur="LeaveInputOfPlusItem"
						v-model="newTaskContent"
						:style="convertInputDisplayOfPlusItem"
						>
					</div>					
				</ul>

				</div>
				<div class="calendar-bottom-grid">
					<div class="calendar-bottom-gridl">
						<a @click="">按鈕1</a>
					</div>
					<div class="calendar-bottom-gridl1">
						<a href="achievementSystem.html" id="">觀看成就</a>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
		
		<div class="clearfix"> </div>
	</div>
<!-- //calender-show-more -->
	<div class="footer">
			<p>© 2016 Smart Ui Kit. All rights reserved | Design by <a href="http://w3layouts.com">W3layouts</a></p>
	</div>
	</div>
<script src="js/bootstrap.js"></script>
</body>

<!-- 以下是我建立的JS，為了使Vue生效，放在最底下 -->
<script type="module" src="js/index.js"></script>
</html>
